.wrap{
	background: blue;
	width: 900px;
	margin: 10px auto;
}

/*bagian header*/
.wrap .header{
	background: #33E0FF;
	/*height: 50px;*/
	padding: 2px 10px;
	font-family: Copperplate;
	box-shadow: 0px 5px #888888 ;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
	background: yellow;
}

.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/

.clear{
	clear: both;
}

.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: White;
	float: left;	
	width: 25%;
	height: 100%;
	box-shadow: 5px #888888 ;
}

/*akhir sidebar*/

.wrap .badan .content{
	background: #F6FAFB;
	float: left;
	height: 100%;
	width: 75%;	
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #white;
}

.wrap .footer{
	width: 100%;
	padding: 10px;
	background :  #33E0FF;
	
}
